
header {

  .root, .flex {
    flex-grow: 1;
  }

  .menuButton {
    margin-left: -12px;
    margin-right: 20px;
  }

  .header__logo {
    color: #fff;
    text-decoration: none;
  }

  .header__search {
    margin-top: -5px;
  }
}
